html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.app-main {
  max-width: 100%;
  min-height: calc(100vh - 470px);
  background-color: #81d7ea;
  padding-top: 470px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.app-header {
  display: flex;
  max-height: 100px;
  flex-direction: row;
  align-items: center;
  background-color: #008080;
  color: white;
  max-width: 100%;
  padding: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.header-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



header {
    background-color:#483d8b;
    display:flex;
    align-items: center;
    color: white;
}

.logo {
    height: 120px;
    margin-right: 20px;
}

.day.green {
  background-color: lightgreen;
}

.day.red {
  background-color: lightcoral;
}

/* Tooltip styles */
.tooltip-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the day */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Optional: Add an arrow to the tooltip */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}


